html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            function addAnecdote() {
                let descriptif = $('input[name=descriptif]').val();
                let veracite = $('input[name=veracite]').val();

                $.ajax({
                    url: "http://localhost:3000/addAnecdote",
                    type: 'post',
                    data: {"token": localStorage.token, "descriptif": descriptif, "veracite": veracite},

                    success: function (result) {
                        console.log(result);
                        $("#div1").html("Resultat : " + result.reponse);
                        $('input[name=descriptif]').val('');
                        $('input[name=veracite]').val('');
                    }
                });
            }
    body
        a(href='http://localhost:3000/recupererToutesAnecdotes') Récupérer toutes les anecdotes
        br
        a(href='http://localhost:3000/ajouterAnecdote') Rajouter une anecdote
        br
        a(href='http://localhost:3000/voirScores') Voir Scores
        hr
        h1=title
        form(id='nouvelleAnecdote')
            label(for='descriptif') Descriptif de l'anecdote :
            input(type='text', name='descriptif', id='descriptif')
            label(for='veracite') Véracité de l'anecdote :
            input(type='text', name='veracite', id='veracite')
            input(type='button', value="Envoyer", onclick="addAnecdote();")
        #div1="Resultat : "