html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            $(document).ready(function () {

                $.ajax({
                    url: "http://localhost:3000/getAnecdote",
                    type: 'post',
                    data: {"token": localStorage.token, "id": localStorage.id_concernee},

                    success: function (anecdote) {
                        $('#descriptif').text(anecdote.descriptif);
                    }
                });
            });
            function confirmationAnswer() {
                if (!confirm("C'est votre dernier mot Jean-Pierre ?")) {
                    window.location.href = "http://localhost:3000/answer";
                }

                let id = localStorage.id_concernee;
                let veracite = $('input[name=veracite]').val();
                let token = localStorage.token;
                // récupérer le token passé en param de pug pour l'envoyer à /answer :*
                $.ajax({
                    url: "http://localhost:3000/answer",
                    type: 'post',
                    data: {"res": veracite, "token": token, "resId": id},

                    success: function (result) {
                        alert(result.reponse);
                        window.location.href = "http://localhost:3000/recupererToutesAnecdotes";
                    }
                });
            }
    body
        a(href='http://localhost:3000/recupererToutesAnecdotes') Récupérer toutes les anecdotes
        br
        a(href='http://localhost:3000/ajouterAnecdote') Rajouter une anecdote
        br
        a(href='http://localhost:3000/voirScores') Voir Scores
        hr
        h1=title
        p Descriptif de l'anecdote :
        p(id='descriptif') 
        form(id='nouvelleAnecdote')          
            label(for='veracite') Véracité de l'anecdote :
            input(type='text', name='veracite', id='veracite')
            input(type='button', value="Envoyer", onclick="confirmationAnswer();")