html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            $(document).ready(function () {

                $.ajax({
                    url: "http://localhost:3000/getAnecdote",
                    type: 'post',
                    data: {"token": localStorage.token, "id": localStorage.id_concernee},

                    success: function (anecdote) {
                        $('#descriptif').val(anecdote.descriptif);
                    }
                });
            });
            function confirmationModif() {
                if (!confirm("Êtes-vous sûr de vouloir modifier cette question ?")) {
                    window.location.href = "http://localhost:3000/modifier";
                }

                let id = localStorage.id_concernee;
                let descriptif = $('input[name=descriptif]').val();
                let veracite = $('input[name=veracite]').val();
                let token = localStorage.token;
                // récupérer le token passé en param de pug pour l'envoyer à /answer :*
                $.ajax({
                    url: "http://localhost:3000/modifyAnecdote",
                    type: 'post',
                    data: {"descriptif": descriptif, "veracite": veracite, "token": token, "id": id},

                    success: function (result) {
                        alert(result.reponse);
                        window.location.href = "http://localhost:3000/recupererToutesAnecdotes";
                    }
                });
            }
    body
        a(href='http://localhost:3000/recupererToutesAnecdotes') Récupérer toutes les anecdotes
        br
        a(href='http://localhost:3000/ajouterAnecdote') Rajouter une anecdote
        br
        a(href='http://localhost:3000/voirScores') Voir Scores
        hr
        h1=title
        form(id='nouvelleAnecdote')
            label(for='descriptif') Descriptif de l'anecdote :
            input(type='text', name='descriptif', id='descriptif')
            label(for='veracite') Véracité de l'anecdote :
            input(type='text', name='veracite', id='veracite')
            input(type='button', value="Envoyer", onclick="confirmationModif();")