html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            $(document).ready(function(){
                $.ajax({
                url: "http://localhost:3000/getAllAnecdotes",
                    type: 'get',
                    data: {"token": localStorage.token},

                    success: function (anecdotes) {
                    console.log(anecdotes.length)
                        for (let row = 0; row < anecdotes.length; row++) {
                            console.log(anecdotes[row]);
                            $('#tableau').append(
                                '<tr>' +
                                '<td>' + row + '</td>' +
                                '<td id="\'' + anecdotes[row].id + '\'">' + anecdotes[row].descriptif + '</td>' +
                                '<td><button onclick="repondre(\'' + anecdotes[row].id + '\');">Répondre</button></td>' +
                                '<td><button onclick="modifier(\'' + anecdotes[row].id + '\');">Modifier</button></td>' +
                                '<td><button onclick="supprimer(\'' + anecdotes[row].id + '\');">Supprimer</button></td>' +
                                '</tr>'
                            )
                        }
                    }
                });
            });
            function supprimer(string_id) {
                if (!confirm("Êtes-vous sûr de vouloir supprimer cette question ?")) {
                    return;
                }

                $.ajax({
                    url: "http://localhost:3000/deleteAnecdote",
                    type: 'post',
                    data: {"token": localStorage.token, "id": string_id},

                    success: function (result) {
                        alert(result.reponse);
                        location.reload();
                    }
                });
            }
            function modifier(string_id) {
                localStorage.setItem("id_concernee", string_id);
                window.location.href = "http://localhost:3000/modifier";
            }
            function repondre(string_id) {
                localStorage.setItem("id_concernee", string_id);
                window.location.href = "http://localhost:3000/repondre";
            }
    body
        a(href='http://localhost:3000/recupererToutesAnecdotes') Récupérer toutes les anecdotes
        br
        a(href='http://localhost:3000/ajouterAnecdote') Rajouter une anecdote
        br
        a(href='http://localhost:3000/voirScores') Voir Scores
        hr
        h1=title

        table(id='tableau', border='2')
            tr
                th Identifiant
                th Descriptif
                th Repondre
                th Modifier
                th Supprimer