html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            $(document).ready(function () {
                $.ajax({
                    url: "http://localhost:3000/getBestScore",
                    type: 'get',
                    data: {"token": localStorage.token, "id": localStorage.id_concernee},
                    
                     success: function (result) {
                         console.log(localStorage.token)
                         console.log(result);
                         for (let row = 0; row < result.length; row++) {
                            
                            $('#tableau').append(
                                '<tr>' +
                                '<td>' + result[row].name + '</td>' +
                                '<td>' + result[row].score + '</td>'+
                                '</tr>'
                             )
                        }
                    }
                });
            });

        script.
            $(document).ready(function () {
                $.ajax({
                    url: "http://localhost:3000/getMyScore",
                    type: 'get',
                    data: {"token": localStorage.token, "id": localStorage.id_concernee},
                    
                     success: function (result) {
                         console.log(localStorage.token)
                         console.log(result);
                            
                            $('#tableau1').append(
                                '<tr>' +
                                '<td>' + result.name + '</td>' +
                                '<td>' + result.score + '</td>'+
                                '</tr>'
                             )

                    }
                });
            });
    body
        a(href='http://localhost:3000/recupererToutesAnecdotes') Récupérer toutes les anecdotes
        br
        a(href='http://localhost:3000/ajouterAnecdote') Rajouter une anecdote
        br
        a(href='http://localhost:3000/voirScores') Voir Scores
        hr
        h2="President ICEON"

        table(id='tableau', border='2')
            tr
                th Nom
                th Scrore
        br
        br
        h2="Mon score"
        br
        table(id='tableau1', border='2')
            tr
                th Nom
                th Scrore