html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            function registerUser() {
                let login = $('input[name=login]').val();

                $.ajax({
                    url: "http://localhost:3000/getSalt",
                    type: 'post',
                    data: {"login": login},


                    success: function (salt) {
                        // Je n'ai pas trouve comment utiliser bcrypt ici, donc le salt ne sert a rien
                        let mdp = $('input[name=mdp]').val();
                        console.log(salt['newSalt']);

                        $.ajax({
                            url: "http://localhost:3000/register",
                            type: 'post',
                            data: {"name": login, "password": mdp, "salt": salt['newSalt']},

                            success: function (token) {
                                console.log(token)
                                localStorage.setItem("token", token.token);
                                window.location.href = "http://localhost:3000/recupererToutesAnecdotes";
                            }
                        });
                    }
                });
            }
    body
        form(id='loginForm')
            label(for='login') Login :
            input(type='text', name='login', id='login')
            label(for='mdp') Mot de passe :
            input(type='password', name='mdp', id='mdp')
            input(type='button', value="Envoyer", onclick="registerUser();")